body,
html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  /* transition: 0.5s; */
  cursor: pointer;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.back_to_top {
  position: fixed;
  width: 71px;
  margin-right: 10px;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.back_to_top button {
  width: 71px;
  height: 71px;
  background: url("../img/btn_sp.png") no-repeat;
  background-position: -695px -340px;
  text-indent: -9999px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.back_to_top.on {
  opacity: 1;
  pointer-events: initial;
}

header {
  min-width: 1064px;
}

header .header__wrap {
  position: relative;
  width: 100%;
  min-width: 360px;
  height: 57px;
  padding: 0 11px;
  border-bottom: 1px solid #dde1e5;
}

header .header__menu {
  position: absolute;
  top: 0;
  display: block;
  width: 107px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
}

header .header__menu span {
  margin-left: 10px;
}

header .header__menu span img {
  cursor: pointer;
}

header .header__logo {
  text-align: center;
  padding: 16px 0;
}

header .header__logo a {
  color: #17191d;
  display: inline-block;
  height: 100%;
}

header .header__logo a img {
  height: 24px;
}

header .header__login {
  position: absolute;
  top: 0;
  display: block;
  width: 107px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 57px;
  width: initial;
  right: 0;
}

header .header__login div {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

header .header__login div:last-child {
  min-width: 85px;
  height: 38px;
  padding: 7px 18px 0;
  color: #17191d;
  text-align: center;
  border-radius: 19px;
  border: 2px solid #17191d;
  font-weight: 800;
}

header .header__login div:last-child:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1d51ff;
  border-color: #1d51ff;
}

header .header__login div:last-child:hover a {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.g-snows {
  background-color: #fff;
}

.g-snows > li {
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: #ffadea;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-animation-name: snow-drop;
          animation-name: snow-drop;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.g-snows > li:nth-child(odd) {
  background-color: #adfcf5;
}

.g-snows > li:nth-child(1) {
  left: 27%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 5876ms;
          animation-duration: 5876ms;
  -webkit-animation-delay: 1498ms;
          animation-delay: 1498ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(2) {
  left: 75%;
  width: 17px;
  height: 34px;
  -webkit-animation-duration: 3950ms;
          animation-duration: 3950ms;
  -webkit-animation-delay: 2312ms;
          animation-delay: 2312ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(3) {
  left: 101%;
  width: 29px;
  height: 58px;
  -webkit-animation-duration: 6858ms;
          animation-duration: 6858ms;
  -webkit-animation-delay: 3875ms;
          animation-delay: 3875ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(4) {
  left: 3%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 3475ms;
          animation-duration: 3475ms;
  -webkit-animation-delay: 1606ms;
          animation-delay: 1606ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(5) {
  left: 1%;
  width: 20px;
  height: 40px;
  -webkit-animation-duration: 3105ms;
          animation-duration: 3105ms;
  -webkit-animation-delay: 3330ms;
          animation-delay: 3330ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(6) {
  left: 59%;
  width: 17px;
  height: 34px;
  -webkit-animation-duration: 4365ms;
          animation-duration: 4365ms;
  -webkit-animation-delay: 1834ms;
          animation-delay: 1834ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(7) {
  left: 145%;
  width: 26px;
  height: 52px;
  -webkit-animation-duration: 4029ms;
          animation-duration: 4029ms;
  -webkit-animation-delay: 4528ms;
          animation-delay: 4528ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(8) {
  left: 69%;
  width: 25px;
  height: 50px;
  -webkit-animation-duration: 7398ms;
          animation-duration: 7398ms;
  -webkit-animation-delay: 3615ms;
          animation-delay: 3615ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(9) {
  left: 36%;
  width: 38px;
  height: 76px;
  -webkit-animation-duration: 4397ms;
          animation-duration: 4397ms;
  -webkit-animation-delay: 2439ms;
          animation-delay: 2439ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(10) {
  left: 19%;
  width: 25px;
  height: 50px;
  -webkit-animation-duration: 3713ms;
          animation-duration: 3713ms;
  -webkit-animation-delay: 4854ms;
          animation-delay: 4854ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(11) {
  left: 47%;
  width: 21px;
  height: 42px;
  -webkit-animation-duration: 7831ms;
          animation-duration: 7831ms;
  -webkit-animation-delay: 3334ms;
          animation-delay: 3334ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(12) {
  left: 44%;
  width: 29px;
  height: 58px;
  -webkit-animation-duration: 5188ms;
          animation-duration: 5188ms;
  -webkit-animation-delay: 177ms;
          animation-delay: 177ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(13) {
  left: 10%;
  width: 18px;
  height: 36px;
  -webkit-animation-duration: 3761ms;
          animation-duration: 3761ms;
  -webkit-animation-delay: 2706ms;
          animation-delay: 2706ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(14) {
  left: 2%;
  width: 32px;
  height: 64px;
  -webkit-animation-duration: 3353ms;
          animation-duration: 3353ms;
  -webkit-animation-delay: 2545ms;
          animation-delay: 2545ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(15) {
  left: 43%;
  width: 31px;
  height: 62px;
  -webkit-animation-duration: 4729ms;
          animation-duration: 4729ms;
  -webkit-animation-delay: 1969ms;
          animation-delay: 1969ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(16) {
  left: 8%;
  width: 29px;
  height: 58px;
  -webkit-animation-duration: 5755ms;
          animation-duration: 5755ms;
  -webkit-animation-delay: 1631ms;
          animation-delay: 1631ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(17) {
  left: 25%;
  width: 29px;
  height: 58px;
  -webkit-animation-duration: 7469ms;
          animation-duration: 7469ms;
  -webkit-animation-delay: 4991ms;
          animation-delay: 4991ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(18) {
  left: 21%;
  width: 15px;
  height: 30px;
  -webkit-animation-duration: 3057ms;
          animation-duration: 3057ms;
  -webkit-animation-delay: 3744ms;
          animation-delay: 3744ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(19) {
  left: 24%;
  width: 28px;
  height: 56px;
  -webkit-animation-duration: 5835ms;
          animation-duration: 5835ms;
  -webkit-animation-delay: 2770ms;
          animation-delay: 2770ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(20) {
  left: 42%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 4052ms;
          animation-duration: 4052ms;
  -webkit-animation-delay: 1342ms;
          animation-delay: 1342ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(21) {
  left: 37%;
  width: 12px;
  height: 24px;
  -webkit-animation-duration: 5079ms;
          animation-duration: 5079ms;
  -webkit-animation-delay: 4063ms;
          animation-delay: 4063ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(22) {
  left: 30%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 3741ms;
          animation-duration: 3741ms;
  -webkit-animation-delay: 1240ms;
          animation-delay: 1240ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(23) {
  left: 79%;
  width: 14px;
  height: 28px;
  -webkit-animation-duration: 4639ms;
          animation-duration: 4639ms;
  -webkit-animation-delay: 4255ms;
          animation-delay: 4255ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(24) {
  left: 60%;
  width: 17px;
  height: 34px;
  -webkit-animation-duration: 4097ms;
          animation-duration: 4097ms;
  -webkit-animation-delay: 4222ms;
          animation-delay: 4222ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(25) {
  left: 3%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 7221ms;
          animation-duration: 7221ms;
  -webkit-animation-delay: 197ms;
          animation-delay: 197ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(26) {
  left: 13%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 5594ms;
          animation-duration: 5594ms;
  -webkit-animation-delay: 4547ms;
          animation-delay: 4547ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(27) {
  left: 38%;
  width: 18px;
  height: 36px;
  -webkit-animation-duration: 4528ms;
          animation-duration: 4528ms;
  -webkit-animation-delay: 681ms;
          animation-delay: 681ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(28) {
  left: 41%;
  width: 30px;
  height: 60px;
  -webkit-animation-duration: 4408ms;
          animation-duration: 4408ms;
  -webkit-animation-delay: 131ms;
          animation-delay: 131ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(29) {
  left: 18%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 3145ms;
          animation-duration: 3145ms;
  -webkit-animation-delay: 2286ms;
          animation-delay: 2286ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(30) {
  left: 75%;
  width: 32px;
  height: 64px;
  -webkit-animation-duration: 5473ms;
          animation-duration: 5473ms;
  -webkit-animation-delay: 496ms;
          animation-delay: 496ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(31) {
  left: 21%;
  width: 25px;
  height: 50px;
  -webkit-animation-duration: 3569ms;
          animation-duration: 3569ms;
  -webkit-animation-delay: 316ms;
          animation-delay: 316ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(32) {
  left: 66%;
  width: 17px;
  height: 34px;
  -webkit-animation-duration: 5169ms;
          animation-duration: 5169ms;
  -webkit-animation-delay: 4875ms;
          animation-delay: 4875ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(33) {
  left: 52%;
  width: 24px;
  height: 48px;
  -webkit-animation-duration: 5359ms;
          animation-duration: 5359ms;
  -webkit-animation-delay: 3180ms;
          animation-delay: 3180ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(34) {
  left: 38%;
  width: 24px;
  height: 48px;
  -webkit-animation-duration: 3453ms;
          animation-duration: 3453ms;
  -webkit-animation-delay: 3054ms;
          animation-delay: 3054ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(35) {
  left: 101%;
  width: 15px;
  height: 30px;
  -webkit-animation-duration: 3250ms;
          animation-duration: 3250ms;
  -webkit-animation-delay: 4252ms;
          animation-delay: 4252ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(36) {
  left: 102%;
  width: 18px;
  height: 36px;
  -webkit-animation-duration: 3464ms;
          animation-duration: 3464ms;
  -webkit-animation-delay: 2497ms;
          animation-delay: 2497ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(37) {
  left: 35%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 3268ms;
          animation-duration: 3268ms;
  -webkit-animation-delay: 3455ms;
          animation-delay: 3455ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(38) {
  left: 19%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 4793ms;
          animation-duration: 4793ms;
  -webkit-animation-delay: 2579ms;
          animation-delay: 2579ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(39) {
  left: 4%;
  width: 10px;
  height: 20px;
  -webkit-animation-duration: 3841ms;
          animation-duration: 3841ms;
  -webkit-animation-delay: 1665ms;
          animation-delay: 1665ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(40) {
  left: 106%;
  width: 22px;
  height: 44px;
  -webkit-animation-duration: 4077ms;
          animation-duration: 4077ms;
  -webkit-animation-delay: 2588ms;
          animation-delay: 2588ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(41) {
  left: 38%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 3669ms;
          animation-duration: 3669ms;
  -webkit-animation-delay: 2099ms;
          animation-delay: 2099ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(42) {
  left: 27%;
  width: 18px;
  height: 36px;
  -webkit-animation-duration: 6427ms;
          animation-duration: 6427ms;
  -webkit-animation-delay: 2861ms;
          animation-delay: 2861ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(43) {
  left: 39%;
  width: 25px;
  height: 50px;
  -webkit-animation-duration: 6222ms;
          animation-duration: 6222ms;
  -webkit-animation-delay: 4297ms;
          animation-delay: 4297ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(44) {
  left: 110%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 4859ms;
          animation-duration: 4859ms;
  -webkit-animation-delay: 780ms;
          animation-delay: 780ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(45) {
  left: 51%;
  width: 14px;
  height: 28px;
  -webkit-animation-duration: 3731ms;
          animation-duration: 3731ms;
  -webkit-animation-delay: 4543ms;
          animation-delay: 4543ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(46) {
  left: 31%;
  width: 14px;
  height: 28px;
  -webkit-animation-duration: 6107ms;
          animation-duration: 6107ms;
  -webkit-animation-delay: 3538ms;
          animation-delay: 3538ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(47) {
  left: 49%;
  width: 14px;
  height: 28px;
  -webkit-animation-duration: 3909ms;
          animation-duration: 3909ms;
  -webkit-animation-delay: 1093ms;
          animation-delay: 1093ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(48) {
  left: 62%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 3514ms;
          animation-duration: 3514ms;
  -webkit-animation-delay: 4391ms;
          animation-delay: 4391ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(49) {
  left: 8%;
  width: 31px;
  height: 62px;
  -webkit-animation-duration: 5643ms;
          animation-duration: 5643ms;
  -webkit-animation-delay: 1699ms;
          animation-delay: 1699ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(50) {
  left: 83%;
  width: 31px;
  height: 62px;
  -webkit-animation-duration: 4701ms;
          animation-duration: 4701ms;
  -webkit-animation-delay: 1292ms;
          animation-delay: 1292ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(51) {
  left: 10%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 4872ms;
          animation-duration: 4872ms;
  -webkit-animation-delay: 2971ms;
          animation-delay: 2971ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(52) {
  left: 25%;
  width: 24px;
  height: 48px;
  -webkit-animation-duration: 4591ms;
          animation-duration: 4591ms;
  -webkit-animation-delay: 1602ms;
          animation-delay: 1602ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(53) {
  left: 3%;
  width: 27px;
  height: 54px;
  -webkit-animation-duration: 4582ms;
          animation-duration: 4582ms;
  -webkit-animation-delay: 3125ms;
          animation-delay: 3125ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(54) {
  left: 96%;
  width: 17px;
  height: 34px;
  -webkit-animation-duration: 3681ms;
          animation-duration: 3681ms;
  -webkit-animation-delay: 1074ms;
          animation-delay: 1074ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(55) {
  left: 1%;
  width: 12px;
  height: 24px;
  -webkit-animation-duration: 4540ms;
          animation-duration: 4540ms;
  -webkit-animation-delay: 2649ms;
          animation-delay: 2649ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(56) {
  left: 25%;
  width: 18px;
  height: 36px;
  -webkit-animation-duration: 4355ms;
          animation-duration: 4355ms;
  -webkit-animation-delay: 1302ms;
          animation-delay: 1302ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(57) {
  left: 49%;
  width: 17px;
  height: 34px;
  -webkit-animation-duration: 6233ms;
          animation-duration: 6233ms;
  -webkit-animation-delay: 3368ms;
          animation-delay: 3368ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(58) {
  left: 8%;
  width: 18px;
  height: 36px;
  -webkit-animation-duration: 5650ms;
          animation-duration: 5650ms;
  -webkit-animation-delay: 3886ms;
          animation-delay: 3886ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(59) {
  left: 89%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 5047ms;
          animation-duration: 5047ms;
  -webkit-animation-delay: 2991ms;
          animation-delay: 2991ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(60) {
  left: 19%;
  width: 19px;
  height: 38px;
  -webkit-animation-duration: 6617ms;
          animation-duration: 6617ms;
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(61) {
  left: 62%;
  width: 26px;
  height: 52px;
  -webkit-animation-duration: 6387ms;
          animation-duration: 6387ms;
  -webkit-animation-delay: 2858ms;
          animation-delay: 2858ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(62) {
  left: 49%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 6536ms;
          animation-duration: 6536ms;
  -webkit-animation-delay: 2838ms;
          animation-delay: 2838ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(63) {
  left: 10%;
  width: 24px;
  height: 48px;
  -webkit-animation-duration: 7267ms;
          animation-duration: 7267ms;
  -webkit-animation-delay: 1308ms;
          animation-delay: 1308ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(64) {
  left: 72%;
  width: 10px;
  height: 20px;
  -webkit-animation-duration: 7425ms;
          animation-duration: 7425ms;
  -webkit-animation-delay: 361ms;
          animation-delay: 361ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(65) {
  left: 84%;
  width: 12px;
  height: 24px;
  -webkit-animation-duration: 3327ms;
          animation-duration: 3327ms;
  -webkit-animation-delay: 1440ms;
          animation-delay: 1440ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(66) {
  left: 78%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 4281ms;
          animation-duration: 4281ms;
  -webkit-animation-delay: 687ms;
          animation-delay: 687ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(67) {
  left: 88%;
  width: 14px;
  height: 28px;
  -webkit-animation-duration: 3369ms;
          animation-duration: 3369ms;
  -webkit-animation-delay: 1155ms;
          animation-delay: 1155ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(68) {
  left: 121%;
  width: 27px;
  height: 54px;
  -webkit-animation-duration: 5326ms;
          animation-duration: 5326ms;
  -webkit-animation-delay: 305ms;
          animation-delay: 305ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(69) {
  left: 2%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 3759ms;
          animation-duration: 3759ms;
  -webkit-animation-delay: 3181ms;
          animation-delay: 3181ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(70) {
  left: 65%;
  width: 18px;
  height: 36px;
  -webkit-animation-duration: 4420ms;
          animation-duration: 4420ms;
  -webkit-animation-delay: 4061ms;
          animation-delay: 4061ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(71) {
  left: 109%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 5353ms;
          animation-duration: 5353ms;
  -webkit-animation-delay: 3711ms;
          animation-delay: 3711ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(72) {
  left: 37%;
  width: 23px;
  height: 46px;
  -webkit-animation-duration: 6908ms;
          animation-duration: 6908ms;
  -webkit-animation-delay: 1542ms;
          animation-delay: 1542ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(73) {
  left: 72%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 3698ms;
          animation-duration: 3698ms;
  -webkit-animation-delay: 661ms;
          animation-delay: 661ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(74) {
  left: 40%;
  width: 20px;
  height: 40px;
  -webkit-animation-duration: 5189ms;
          animation-duration: 5189ms;
  -webkit-animation-delay: 1122ms;
          animation-delay: 1122ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(75) {
  left: 39%;
  width: 20px;
  height: 40px;
  -webkit-animation-duration: 3116ms;
          animation-duration: 3116ms;
  -webkit-animation-delay: 1582ms;
          animation-delay: 1582ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(76) {
  left: 32%;
  width: 21px;
  height: 42px;
  -webkit-animation-duration: 4609ms;
          animation-duration: 4609ms;
  -webkit-animation-delay: 2883ms;
          animation-delay: 2883ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(77) {
  left: 1%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 4570ms;
          animation-duration: 4570ms;
  -webkit-animation-delay: 76ms;
          animation-delay: 76ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(78) {
  left: 131%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 5938ms;
          animation-duration: 5938ms;
  -webkit-animation-delay: 873ms;
          animation-delay: 873ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(79) {
  left: 18%;
  width: 15px;
  height: 30px;
  -webkit-animation-duration: 6757ms;
          animation-duration: 6757ms;
  -webkit-animation-delay: 1715ms;
          animation-delay: 1715ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(80) {
  left: 50%;
  width: 22px;
  height: 44px;
  -webkit-animation-duration: 3034ms;
          animation-duration: 3034ms;
  -webkit-animation-delay: 2597ms;
          animation-delay: 2597ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(81) {
  left: 16%;
  width: 12px;
  height: 24px;
  -webkit-animation-duration: 6103ms;
          animation-duration: 6103ms;
  -webkit-animation-delay: 4970ms;
          animation-delay: 4970ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(82) {
  left: 133%;
  width: 14px;
  height: 28px;
  -webkit-animation-duration: 5360ms;
          animation-duration: 5360ms;
  -webkit-animation-delay: 1483ms;
          animation-delay: 1483ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(83) {
  left: 73%;
  width: 19px;
  height: 38px;
  -webkit-animation-duration: 4193ms;
          animation-duration: 4193ms;
  -webkit-animation-delay: 1855ms;
          animation-delay: 1855ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(84) {
  left: 25%;
  width: 28px;
  height: 56px;
  -webkit-animation-duration: 5002ms;
          animation-duration: 5002ms;
  -webkit-animation-delay: 329ms;
          animation-delay: 329ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(85) {
  left: 8%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 3803ms;
          animation-duration: 3803ms;
  -webkit-animation-delay: 4029ms;
          animation-delay: 4029ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(86) {
  left: 19%;
  width: 14px;
  height: 28px;
  -webkit-animation-duration: 3548ms;
          animation-duration: 3548ms;
  -webkit-animation-delay: 602ms;
          animation-delay: 602ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(87) {
  left: 10%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 3161ms;
          animation-duration: 3161ms;
  -webkit-animation-delay: 3924ms;
          animation-delay: 3924ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(88) {
  left: 47%;
  width: 25px;
  height: 50px;
  -webkit-animation-duration: 3734ms;
          animation-duration: 3734ms;
  -webkit-animation-delay: 4306ms;
          animation-delay: 4306ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(89) {
  left: 11%;
  width: 23px;
  height: 46px;
  -webkit-animation-duration: 5278ms;
          animation-duration: 5278ms;
  -webkit-animation-delay: 3114ms;
          animation-delay: 3114ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(90) {
  left: 74%;
  width: 16px;
  height: 32px;
  -webkit-animation-duration: 3083ms;
          animation-duration: 3083ms;
  -webkit-animation-delay: 3901ms;
          animation-delay: 3901ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(91) {
  left: 93%;
  width: 38px;
  height: 76px;
  -webkit-animation-duration: 6895ms;
          animation-duration: 6895ms;
  -webkit-animation-delay: 3791ms;
          animation-delay: 3791ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(92) {
  left: 26%;
  width: 24px;
  height: 48px;
  -webkit-animation-duration: 3999ms;
          animation-duration: 3999ms;
  -webkit-animation-delay: 2443ms;
          animation-delay: 2443ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(93) {
  left: 125%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 3028ms;
          animation-duration: 3028ms;
  -webkit-animation-delay: 3238ms;
          animation-delay: 3238ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(94) {
  left: 10%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 4725ms;
          animation-duration: 4725ms;
  -webkit-animation-delay: 935ms;
          animation-delay: 935ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(95) {
  left: 22%;
  width: 27px;
  height: 54px;
  -webkit-animation-duration: 3726ms;
          animation-duration: 3726ms;
  -webkit-animation-delay: 4525ms;
          animation-delay: 4525ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(96) {
  left: 11%;
  width: 11px;
  height: 22px;
  -webkit-animation-duration: 3325ms;
          animation-duration: 3325ms;
  -webkit-animation-delay: 3242ms;
          animation-delay: 3242ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(97) {
  left: 87%;
  width: 36px;
  height: 72px;
  -webkit-animation-duration: 4691ms;
          animation-duration: 4691ms;
  -webkit-animation-delay: 3381ms;
          animation-delay: 3381ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(98) {
  left: 30%;
  width: 26px;
  height: 52px;
  -webkit-animation-duration: 3166ms;
          animation-duration: 3166ms;
  -webkit-animation-delay: 1269ms;
          animation-delay: 1269ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(99) {
  left: 58%;
  width: 20px;
  height: 40px;
  -webkit-animation-duration: 4456ms;
          animation-duration: 4456ms;
  -webkit-animation-delay: 259ms;
          animation-delay: 259ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.g-snows > li:nth-child(100) {
  left: 6%;
  width: 13px;
  height: 26px;
  -webkit-animation-duration: 4867ms;
          animation-duration: 4867ms;
  -webkit-animation-delay: 1314ms;
          animation-delay: 1314ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes snow-drop {
  0% {
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
    opacity: 1;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    -webkit-transform: translate(0, 166.66667px) rotate(45deg);
            transform: translate(0, 166.66667px) rotate(45deg);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    -webkit-transform: translate(0, 333.33333px) rotate(45deg);
            transform: translate(0, 333.33333px) rotate(45deg);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    -webkit-transform: translate(0, 500px) rotate(45deg);
            transform: translate(0, 500px) rotate(45deg);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    -webkit-transform: translate(0, 666.66667px) rotate(50deg);
            transform: translate(0, 666.66667px) rotate(50deg);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
    opacity: 1;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    -webkit-transform: translate(0, 166.66667px) rotate(45deg);
            transform: translate(0, 166.66667px) rotate(45deg);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    -webkit-transform: translate(0, 333.33333px) rotate(45deg);
            transform: translate(0, 333.33333px) rotate(45deg);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    -webkit-transform: translate(0, 500px) rotate(45deg);
            transform: translate(0, 500px) rotate(45deg);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    -webkit-transform: translate(0, 666.66667px) rotate(50deg);
            transform: translate(0, 666.66667px) rotate(50deg);
    opacity: 0;
  }
}

.banner {
  position: relative;
  height: 689px;
  background: url("../img/con1_bg.jpg") no-repeat center 0;
}

.banner .banner__inner div {
  position: absolute;
}

.banner .banner__inner .banner__character_1 {
  background: url("../img/con1_c1.png") no-repeat;
  top: 18px;
  width: 259px;
  height: 400px;
  left: 50%;
  margin-left: -130px;
}

.banner .banner__inner .banner__character_2 {
  background: url("../img/con1_c2.png") no-repeat;
  top: 419px;
  left: -85px;
  width: 299px;
  height: 351px;
}

.banner .banner__inner .banner__character_3 {
  background: url("../img/con1_c3.png") no-repeat;
  top: 355px;
  right: -160px;
  width: 352px;
  height: 451px;
}

.banner .banner__inner .banner__text {
  background: url("../img/con1_t.png") no-repeat;
  margin: 0;
  position: absolute;
  top: 398px;
  width: 766px;
  height: 159px;
  left: 50%;
  margin-left: -383px;
  text-indent: -9999px;
}

.banner .banner__inner .banner__btn {
  top: 581px;
  left: 481px;
  z-index: 99;
  left: 50%;
  height: 100px;
  margin-left: -233px;
}

.banner .banner__inner .banner__btn a {
  background: url("../img/btn_sp.png");
  display: block;
  width: 467px;
  height: 79px;
  background-position: -1024px -102px;
  text-indent: -9999px;
}

.banner .banner__inner .banner__btn a:hover {
  background-position: -1024px -206px;
  -webkit-transition: none;
  transition: none;
}

.banner .banner__inner .banner__bubble {
  background: url("../img/con1_tb.png") no-repeat;
  top: 12px;
  right: 74px;
  width: 283px;
  height: 332px;
  opacity: 0;
}

.banner .banner__inner .banner__bubble.on {
  opacity: 1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation: bounceIn 7s ease-in-out;
          animation: bounceIn 7s ease-in-out;
}

@-webkit-keyframes floatAni1 {
  0% {
    -webkit-transform: translateY(0) rotate(-6deg);
    transform: translateY(0) rotate(-6deg);
  }
  50% {
    -webkit-transform: translateY(-10px) rotate(4deg);
    transform: translateY(-10px) rotate(4deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-6deg);
    transform: translateY(0) rotate(-6deg);
  }
}

@keyframes floatAni1 {
  0% {
    -webkit-transform: translateY(0) rotate(-6deg);
    transform: translateY(0) rotate(-6deg);
  }
  50% {
    -webkit-transform: translateY(-10px) rotate(4deg);
    transform: translateY(-10px) rotate(4deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-6deg);
    transform: translateY(0) rotate(-6deg);
  }
}

@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0) scaleX(3);
    transform: translate3d(-2000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0) scaleX(3);
    transform: translate3d(-2000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0, 0) scaleX(3);
    transform: translate3d(2000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0, 0) scaleX(3);
    transform: translate3d(2000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes moveKart {
  from {
    -webkit-transform: translate(200px, -160px) scale(0.7);
            transform: translate(200px, -160px) scale(0.7);
    -webkit-transition-timing-function: cubic-bezier(0, 0.835, 0.815, 0.955);
            transition-timing-function: cubic-bezier(0, 0.835, 0.815, 0.955);
    -webkit-transition-property: all, -webkit-transform;
    transition-property: all, -webkit-transform;
    transition-property: all, transform;
    transition-property: all, transform, -webkit-transform;
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}

@keyframes moveKart {
  from {
    -webkit-transform: translate(200px, -160px) scale(0.7);
            transform: translate(200px, -160px) scale(0.7);
    -webkit-transition-timing-function: cubic-bezier(0, 0.835, 0.815, 0.955);
            transition-timing-function: cubic-bezier(0, 0.835, 0.815, 0.955);
    -webkit-transition-property: all, -webkit-transform;
    transition-property: all, -webkit-transform;
    transition-property: all, transform;
    transition-property: all, transform, -webkit-transform;
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}

#container {
  overflow: hidden;
  min-width: 1280px;
  max-width: 2560px;
  margin: 0 auto;
}

#container .main__visual {
  height: 995px;
  background: url("../img/mv_bg.jpeg") no-repeat center 0;
}

#container .main__visual .main__inner {
  position: relative;
  width: 1280px;
  height: 995px;
  margin: 0 auto;
}

#container .main__visual .main__inner div {
  position: absolute;
}

#container .main__visual .main__inner .balloon_1 {
  background: url("../img/hab_1.png") no-repeat;
  width: 198px;
  height: 229px;
  top: none;
  left: none;
  -webkit-animation: floatAni1 4.5s ease-in-out infinite;
          animation: floatAni1 4.5s ease-in-out infinite;
}

#container .main__visual .main__inner .balloon_2 {
  background: url("../img/hab_2.png") no-repeat;
  width: 198px;
  height: 229px;
  top: 50px;
  left: none;
  -webkit-animation: floatAni1 4.5s ease-in-out infinite;
          animation: floatAni1 4.5s ease-in-out infinite;
  right: 178px;
  width: 67px;
  height: 87px;
}

#container .main__visual .main__inner .balloon_3 {
  background: url("../img/hab_3.png") no-repeat;
  width: 198px;
  height: 229px;
  top: -125;
  left: none;
  -webkit-animation: floatAni1 4.5s ease-in-out infinite;
          animation: floatAni1 4.5s ease-in-out infinite;
  right: -530px;
}

#container .main__visual .main__inner p {
  position: absolute;
  text-indent: -9999px;
  opacity: 0;
}

#container .main__visual .main__inner .main__text_1 {
  background: url("../img/mv_t1.png") no-repeat;
  top: 147px;
  left: 419px;
  width: 405px;
  height: 179px;
  opacity: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveFromLeft;
  animation-name: moveFromLeft;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#container .main__visual .main__inner .main__text_2 {
  background: url("../img/mv_t2.png") no-repeat;
  top: 234px;
  left: 354px;
  width: 764px;
  height: 317px;
  z-index: 10;
  opacity: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveFromRight;
  animation-name: moveFromRight;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#container .main__visual .main__inner .main__text_3 {
  background: url("../img/mv_t3.png") no-repeat;
  top: 448px;
  left: 406px;
  width: 583px;
  height: 142px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

#container .main__visual .main__inner .balloons_1 {
  background: url("../img/mv_tb.png") no-repeat;
  width: 198px;
  height: 229px;
  top: 18px;
  left: 177px;
  -webkit-animation: floatAni1 4.5s ease-in-out infinite;
          animation: floatAni1 4.5s ease-in-out infinite;
  width: 304px;
  height: 343px;
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

#container .main__visual .main__inner .balloons_2 {
  background: url("../img/mv_b1.png") no-repeat;
  width: 198px;
  height: 229px;
  top: 383px;
  left: none;
  -webkit-animation: floatAni1 4.5s ease-in-out infinite;
          animation: floatAni1 4.5s ease-in-out infinite;
  right: -98px;
  width: 141px;
  height: 170px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#container .main__visual .main__inner .balloons_3 {
  background: url("../img/mv_b3.png") no-repeat;
  width: 198px;
  height: 229px;
  top: 341px;
  left: none;
  -webkit-animation: floatAni1 4.5s ease-in-out infinite;
          animation: floatAni1 4.5s ease-in-out infinite;
  right: -32px;
  width: 141px;
  height: 170px;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
}

#container .main__visual .main__inner .house {
  background: url("../img/mv_mgr.png") no-repeat;
  top: 406px;
  right: -248px;
  z-index: 1;
  width: 456px;
  height: 294px;
}

#container .main__visual .main__inner .character_1 {
  background: url("../img/mv_c1.png") no-repeat;
  width: 236px;
  height: 272px;
  top: 73px;
  left: 743px;
  z-index: 11;
  width: 236px;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

#container .main__visual .main__inner .character_2 {
  background: url("../img/mv_c2.png") no-repeat;
  opacity: 0;
  top: 255px;
  left: 148px;
  z-index: 12;
  width: 231px;
  height: 350px;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#container .main__visual .main__inner .character_3 {
  background: url("../img/mv_c3.png") no-repeat;
  opacity: 1;
  top: 555px;
  left: -78px;
  width: 233px;
  height: 280px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveFromLeft;
  animation-name: moveFromLeft;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

#container .main__visual .main__inner .character_4 {
  background: url("../img/mv_c4.png") no-repeat;
  opacity: 1;
  top: 570px;
  right: -117px;
  z-index: 12;
  width: 386px;
  height: 276px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveFromRight;
  animation-name: moveFromRight;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

#container .main__visual .main__inner .character_5 {
  background: url("../img/mv_c5.png") no-repeat;
  top: 186px;
  right: -53px;
  width: 132px;
  height: 102px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: floatAni1;
  animation-name: floatAni1;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#container .main__visual .main__inner .kart {
  background: url("../img/mv_kart.png") no-repeat;
  top: 551px;
  left: 334px;
  width: 653px;
  height: 393px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveKart;
  animation-name: moveKart;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#container .main__visual .main__inner .kart .kart__text {
  background: url("../img/mv_kt.png") no-repeat;
  top: 289px;
  left: 358px;
  width: 415px;
  height: 70px;
  text-indent: -9999px;
}

.contents {
  height: 2024px;
  background: url("../img/con2_bg.jpg") no-repeat center 0;
}

.contents .contents__inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.contents .contents__bg {
  background: url("../img/con2_c.png") no-repeat center 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1360px;
  height: 2064px;
  margin: -40px 0 0 -40px;
}

.contents .contents__bg div {
  position: absolute;
}

.contents .contents__bg .con__icon {
  width: 107px;
  height: 156px;
  background: url("../img/ev_ic.png") no-repeat;
}

.contents .contents__bg .contents__bg_i_1 {
  top: 204px;
  left: 370px;
}

.contents .contents__bg .contents__bg_i_2 {
  top: 204px;
  left: 870px;
}

.contents .contents__bg .contents__bg_t_1 {
  background: url("../img/con2_c_t1.png") no-repeat;
  top: 330px;
  left: 259px;
  width: 341px;
  height: 100px;
}

.contents .contents__bg .contents__bg_t_2 {
  background: url("../img/con2_c_t2.png") no-repeat;
  top: 324px;
  left: 812px;
  width: 235px;
  height: 100px;
}

.contents .contents__bg .contents__character_1 {
  background: url("../img/con2_c1.png") no-repeat;
  top: 115px;
  left: 483px;
  width: 178px;
  height: 184px;
  opacity: 0;
}

.contents .contents__bg .contents__character_1.on {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.contents .contents__bg .contents__character_2 {
  background: url("../img/con2_c2.png") no-repeat;
  top: 452px;
  right: 9px;
  width: 267px;
  height: 295px;
  opacity: 0;
}

.contents .contents__bg .contents__character_2.on {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveFromRight;
  animation-name: moveFromRight;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  opacity: 1;
}

.contents .contents__bg .contents__character_3 {
  background: url("../img/con2_c3.png") no-repeat;
  top: 871px;
  left: 27px;
  width: 243px;
  height: 293px;
  opacity: 0;
}

.contents .contents__bg .contents__character_3.on {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveFromLeft;
  animation-name: moveFromLeft;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  opacity: 1;
}

.contents .contents__bg .contents__character_4 {
  background: url("../img/con2_c4.png") no-repeat;
  top: 1476px;
  right: 5px;
  width: 248px;
  height: 350px;
}

.contents .contents__bg .contents__character_4.on {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: moveFromRight;
  animation-name: moveFromRight;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 1;
}

footer {
  overflow: hidden;
  height: 89px;
  background: #000;
  text-align: center;
}

footer .copyright {
  color: #fff;
  line-height: 104px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */