// Definition of snow length
// NOTE: length should be same value with HTML elements
$SNOWDROPS_LENGTH: 100;

// Wrapper for snows, this shows background
.g-snows {
  background-color: navy;
  background-image: linear-gradient(to bottom, navy, darkgray);
}

.g-snows > li {
  // NOTE: Opacity zero is required due to appearance of snow.
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: rgb(255, 173, 234);
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation-name: snow-drop;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  &:nth-child(odd) {
    background-color: rgb(173, 252, 245);
  }

  // Bases of random snows effect
  $snow-size-base: 30;
  $browser-buffer: 50;
  $left-position: 100 + $browser-buffer;
  $animate-speed-base: 5000;
  $minimum-falling-speed: 3000;
  $animate-delay-base: 5000;
  $blur-base: 5;

  @for $i from 1 through $SNOWDROPS_LENGTH {
    $size: abs(random($snow-size-base) - random($snow-size-base)) + 10px;

    &:nth-child(#{$i}) {
      left: abs(random($left-position) - random($left-position)) + 0%;
      width: $size;
      height: $size * 2;
      animation-duration: abs(
          random($animate-speed-base) - random($animate-speed-base)
        ) +
        $minimum-falling-speed +
        0ms;
      animation-delay: abs(random($animate-delay-base)) + 0ms;

      transform: rotate(45deg);
    }
  }
}

@keyframes snow-drop {
  $window-height-threshold: 1.5;

  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 1;
    margin-left: 0;
  }

  10% {
    margin-left: 15px;
  }

  20% {
    margin-left: 20px;
  }

  25% {
    transform: translate(0, 250px / $window-height-threshold) rotate(45deg);
    opacity: 0.75;
  }

  30% {
    margin-left: 15px;
  }

  40% {
    margin-left: 0;
  }

  50% {
    transform: translate(0, 500px / $window-height-threshold) rotate(45deg);
    opacity: 1;
    margin-left: -15px;
  }

  60% {
    margin-left: -20px;
  }

  70% {
    margin-left: -15px;
  }

  75% {
    transform: translate(0, 750px / $window-height-threshold) rotate(45deg);
    opacity: 0.5;
  }

  80% {
    margin-left: 0;
  }

  100% {
    transform: translate(0, 1000px / $window-height-threshold) rotate(50deg);
    opacity: 0;
  }
}

.banner {
  position: relative;
  height: 689px;
  background: url('../img/con1_bg.jpg') no-repeat center 0;

  .banner__inner {
    div {
      position: absolute;
    }

    .banner__character_1 {
      background: url('../img/con1_c1.png') no-repeat;
      top: 18px;
      left: 471px;
      width: 259px;
      height: 400px;
    }

    .banner__character_2 {
      background: url('../img/con1_c2.png') no-repeat;
      top: 419px;
      left: -85px;
      width: 299px;
      height: 351px;
    }

    .banner__character_3 {
      background: url('../img/con1_c3.png') no-repeat;
      top: 355px;
      right: -352px;
      width: 352px;
      height: 451px;
    }

    .banner__text {
      background: url('../img/con1_t.png') no-repeat;
      margin: 0;
      position: absolute;
      top: 398px;
      left: 236px;
      width: 766px;
      height: 159px;
      text-indent: -9999px;
    }

    .banner__btn {
      top: 581px;
      left: 366px;
      z-index: 99;

      a {
        background: url('../img/btn_sp.png');
        display: block;
        width: 467px;
        height: 79px;
        background-position: -1024px -102px;
        text-indent: -9999px;

        &:hover {
          background-position: -1024px -206px;
          transition: none;
        }
      }
    }

    .banner__bubble {
      background: url('../img/con1_tb.png') no-repeat;
      top: 12px;
      right: 74px;
      width: 283px;
      height: 332px;
      opacity: 0;
    }

    .banner__bubble.on {
      opacity: 1;
      animation-iteration-count: infinite;
      animation: bounceIn 7s ease-in-out;
    }
  }
}
