footer {
  overflow: hidden;
  height: 89px;
  background: #000;
  text-align: center;

  .copyright {
    // background: url('../img/copy.png');
    color: #fff;
    line-height: 104px;
    margin: 0;
  }
}
